---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
<div class="row">
    <div class="col l7">
        <div class="row">
            <div class="col">
                {% include sections/about.html %}        
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                {% include sections/projects.html %}
            </div>
        </div>
    </div>

    <div class="col l4 offset-l1">
        <div class="row">
            {% include sections/skills.html %}    
        </div>
        <div class="row">
            {% include sections/career.html %}    
        </div>
        <div class="row">
            {% include sections/education.html %}    
        </div>
    </div>
    

</div>
                </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
